# ÉTAPES POUR UTILISER CE CLONE PROJECT

# Renommez ce fichier en .env,
# Puis créez votre base de données,
# Renseignez ensuite vos informations dans les champs correspondants ci-dessous.

# MYSQL
MYSQL_HOST = "mettez host MySQL ici"
MYSQL_USER = "mettez votre username MySQL ici"
MYSQL_PASSWORD = "mettez votre password MySQL ici"
MYSQL_DATABASE = "mettez votre nom de DB MySQL ici"


# Renseignez votre token secret dans le champs correspondant ci-dessous. 

# AUTH TOKEN
SECRET_TOKEN = "mettez votre token secret ici"

# Une fois tout cela fait votre environnement de travail est prêt !