#email,
#password {
    width: 200px;
    height: 25px;
    padding-left: 10px;
    @include rainbow-color;
    -webkit-text-fill-color: black;
    &:focus-visible {
        font-family:'Satisfy', sans-serif;
        outline-color: turquoise;
        outline-width: 1px;
        outline-style: dashed;
    }
}

#retrieve_password{
    margin-left: auto;
    margin-right: 20px;
    color: turquoise;
    &:hover{
        color: rgb(217, 112, 147);
        text-shadow: 0 0 3px;
    }
}
