* {
    font-family:'Satisfy', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    &_row{
        flex-direction: row;
    }
    &_column{
        flex-direction: column;
    }
    &_between{
        justify-content: space-between;
    }
    &_around{
        justify-content: space-around;
    }
    &_vertical{
        &--center{
        align-items: center;
        }
    }
    &_horizontal{
        &--center{
        justify-content: center;
        }
        &--right{
            justify-content: right;
            }
    }
}