* {
    font-family:'Satisfy', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url("../images/website/background.png");
}

h1,h2,h3,h4,h5,h6{
    font-family:'Corinthia', sans-serif;
    margin:0;
    margin-top: 10px;
    font-size: 60px;
}

.text{
    margin: 10px;
    font-size: 24px;
}

.flex{
    display: flex;
    &_row{
        flex-direction: row;
    }
    &_column{
        flex-direction: column;
    }
    &_between{
        justify-content: space-between;
    }
    &_around{
        justify-content: space-around;
    }
    &_vertical{
        &--center{
        align-items: center;
        }
    }
    &_horizontal{
        &--center{
        justify-content: center;
        }
        &--right{
            justify-content: right;
            }
    }
}