@mixin rainbow-color {
    border-image: linear-gradient(to right, rgb(217, 112, 147), rgb(255, 220, 164), turquoise);
    border-image-slice: 1;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: transparent;
}

@mixin rainbow-color-background{
    background: linear-gradient(to top, rgb(217, 112, 147), rgb(255, 220, 164), turquoise);
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
}